<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SBT Solutions</title>
        
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styleSheet.css" />
        <link rel="shortcut icon" href="https://farm5.staticflickr.com/4755/40360626851_3a35e624d2_o.png"/>               
    </head>
    <body>
        @Html.Partial("_NavBar")

        <div class="w3-container">@RenderBody()</div>        
        
        @Html.Partial("_Footer")

        @RenderSection("Scripts", required: false)
    </body>
</html>
