@using SBTCustomerManager.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="w3-bar">
    <div class="@ManageNavPages.IndexNavClass(ViewContext) w3-bar-item w3-button"><a asp-action="Index">Profile</a></div>
    <div class="@ManageNavPages.IndexNavClass(ViewContext) w3-bar-item w3-button"><a asp-action="Contact">Contact Info</a></div>
    <div class="@ManageNavPages.ChangePasswordNavClass(ViewContext) w3-bar-item w3-button"><a asp-action="ChangePassword">Password</a></div>
    @if (hasExternalLogins)
    {
        <div class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) w3-bar-item w3-button"><a asp-action="ExternalLogins">External logins</a></div>
    }
<!--    <div class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) w3-bar-item w3-button"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></div>-->
</div>

