@model SBTCustomerManager.Models.CompanyDataModel.CompanyViewModel
@{
    ViewData["Title"] = "Company Details";
    ViewData.AddActivePage(CompanyNavPages.Index);
}

    <div class="w3-half">
        <div class="w3-container">
            <label asp-for="CompanyDetails.Name" ></label>
            <input asp-for="CompanyDetails.Name" class=" w3-input" disabled=""/>
        
            <label asp-for="CompanyContact.Name" >Company Contact</label>
            <input asp-for="CompanyContact.Name" class=" w3-input" disabled=""/>

            <label asp-for="CompanyContact.UserId" >Company Contact Id</label>
            <input asp-for="CompanyContact.UserId" class=" w3-input" disabled=""/>

            <label asp-for="CompanyContact.UserContact.Email" class=""></label><i class="fa fa-info-circle w3-margin-left" data-toggle="popover" data-trigger="focus" data-content="Company contact details are based on the user set as company contact."></i>
            <input asp-for="CompanyContact.UserContact.Email" class=" w3-input" disabled=""/>
        
        </div>
    </div>
    <div class="w3-half">
        <div class="w3-container">

            <label><i class="fas fa-map-marker fa-fw w3-margin-right"></i>Address<i class="fa fa-info-circle w3-margin-left" data-toggle="popover" data-trigger="focus" data-content="Company contact details are based on the user set as company contact."></i></label>
            <textarea class="w3-input" disabled="" style="height: 255px;width: 400px;">FAO @Model.CompanyContact.Name  
@Model.CompanyDetails.Name
@Model.CompanyContact.UserContact.BuildingNumber @Model.CompanyContact.UserContact.AddressLine1
@Model.CompanyContact.UserContact.AddressLine2
@Model.CompanyContact.UserContact.PostTown
@Model.CompanyContact.UserContact.County
@Model.CompanyContact.UserContact.Country
@Model.CompanyContact.UserContact.Postcode</textarea>        
        </div>
    </div>


@section Scripts {
    <script>
        $("[data-toggle='popover']").popover({ trigger: "hover" });
    </script>
}
