@model SBTCustomerManager.Models.CompanyDataModel.CompanyViewModel
@{
    ViewData["Title"] = "Company Users";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="w3-container">
    <div class="w3-bar w3-padding">
        <div asp-validation-summary="All" class="text-danger w3-bar-item"></div>
        <a asp-controller="Company" asp-action="AddUser" class="w3-bar-item w3-button accordian1 w3-right" data-toggle="popover" data-trigger="focus"  data-placement="top" data-content="Add User"><i class="fas fa-user-plus"></i></a>
    </div>
    <table id="users" class="display">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Role</th>
                <th>e-Mail</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.CompanyUsers)
            {
                <tr>
                    <td class="w3-center">@user.Name</td>
                    <td class="w3-center">@user.Profile.Role</td>
                    <td class="w3-center">@user.UserContact.Email</td>
                    <td class="w3-center" style="width: 50px"><a class="js-delete" href="/CompanyUser/UserDetail/@user.Id" data-message-id="@user.Id"><i class="far fa-edit"  data-toggle="popover" data-trigger="focus"  data-placement="top" data-content="Edit User"></i></a></td>
                    <td class="w3-center" style="width: 50px"><a class="js-delete" href="javascript:void(0);" data-message-id="@user.Id"><i class="far fa-trash-alt"  data-toggle="popover" data-trigger="focus"  data-placement="top" data-content="Delete User"></i></a></td>
                </tr>
            }
        </tbody>
    </table>    
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#users").DataTable();
    
        });
    </script>
    <script>
        $("[data-toggle='popover']").popover({ trigger: "hover" });
    </script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>  
}