@model SBTCustomerManager.Models.CustomerViewModels.StaffMemberViewModel
@{
    ViewData["Title"] = @Model.UserDetails.Name;
}

<div class="w3-bar">
    @Html.Partial("_StaffNavBar",Model)
</div>
<hr>

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="w3-row-padding w3-margin-top">

    <form method="post">
        <div class="w3-bar">
            <button type="submit" class="w3-button w3-bar-item w3-right accordian1 w3-text-white" data-toggle="popover" data-trigger="focus" data-content="Save Changes" data-placement="top" onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-save"></i></button>
            <button type="reset" class="w3-button w3-bar-item w3-right accordian2 w3-text-white" data-toggle="popover" data-trigger="focus" data-content="Reset" data-placement="top"><i class="fas fa-redo"></i></button>
        </div>

        <div class="w3-half">
            <div class="w3-container">
                <div class="form-group">
                    <label asp-for="UserDetails.Title"></label>
                    <div class="custom-select" style="width:400px;">
                        @Html.DropDownListFor(m => m.UserDetails.Title,Model.Titles,"Select Company", new {@class = "", required=""})
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserDetails.ForeName"></label>
                    <input asp-for="UserDetails.ForeName" class="w3-input"/>
                    <span asp-validation-for="UserDetails.ForeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserDetails.Surname"></label>
                    <input asp-for="UserDetails.Surname" class="w3-input"/>
                    <span asp-validation-for="UserDetails.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserDetails.UserId"></label>
                    <input asp-for="UserDetails.UserId" class="w3-input" disabled=""/>
                    <input asp-for="UserDetails.UserId" class="w3-input" type="hidden"/>
                    <input asp-for="UserDetails.Id" class="w3-input" type="hidden"/>
                </div>
            </div>
        </div>
        <div class="w3-half">
            <div class="w3-container">
                <div class="form-group">
                    <label asp-for="UserDetails.Company.Name"></label>
                    <div class="custom-select" style="width:400px;">
                        @Html.DropDownListFor(m => m.UserDetails.Company.Id,Model.Companies,"Select Company", new {@class = "", required=""})
                    </div>
                </div>
                <div class="form-group">
                    <p><label asp-for="IsCompanyContact"></label></p>
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" asp-for="IsCompanyContact">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="UserDetails.Company.Name"></label>
                    <div class="custom-select" style="width:400px;">
                        @Html.DropDownListFor(m => m.UserDetails.Profile.Id,Model.UserRoles,"Select Role", new {@class = "", required=""})
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
@Html.Partial("_Loading")

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("[data-toggle='popover']").popover({ trigger: "hover" });
    </script>
    <script src="https://s3.amazonaws.com/sbt-solutions.co.uk/customSelect.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://s3.amazonaws.com/sbt-solutions.co.uk/customSelect.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="https://s3.amazonaws.com/sbt-solutions.co.uk/sliderCheckBox.css"/>
}
