@model SBTCustomerManager.Models.CustomerViewModels.StaffMemberViewModel
@{
    ViewData["Title"] = @Model.UserDetails.Name;
}

<div class="w3-bar">
    @Html.Partial("_StaffNavBar",Model)
</div>
<hr>

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="w3-row-padding w3-margin-top">

    <form method="post">

        <div class="w3-section">
            <div class="w3-container">

                <table id="profiles" class="display">
                    <thead>
                        <tr>
                            <th style="width: 10px"></th>
                            <th>Profile</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.RoleList)
                        {
                            <tr>
                                @if (role.IsSelected)
                                {
                                    <td><i class="far fa-check-square fa-fw w3-large"></i></td>
                                }
                                else
                                {
                                    <td><i class="far fa-square fa-fw w3-large"></i></td>
                                }
                                <td class="w3-center">@role.Name</td>
                                <td class="w3-center">@role.Description</td>
                                @if (role.IsSelected)
                                {
                                    <td class="w3-center" style="width: 50px"><a class="js-delete" href="/Customer/DeleteRole/?roleId=@role.RoleId&userId=@Model.UserDetails.UserId" data-role-id="@role.RoleId" data-user-id="@Model.UserDetails.UserId" onclick="document.getElementById('id01').style.display='block'"><i class="far fa-minus-square"  data-toggle="popover" data-trigger="focus"  data-placement="top" data-content="Delete Role"></i></a></td>
                                }
                                else
                                {
                                    <td class="w3-center" style="width: 50px"><a class="js-add" href="/Customer/AddRole/?roleId=@role.RoleId&userId=@Model.UserDetails.UserId" data-role-id="@role.RoleId" data-user-id="@Model.UserDetails.UserId" onclick="document.getElementById('id01').style.display='block'"><i class="far fa-plus-square"  data-toggle="popover" data-trigger="focus"  data-placement="top" data-content="Add Role"></i></a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            
            </div>
        </div>
    </form>
</div>
@Html.Partial("_Loading")

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("[data-toggle='popover']").popover({ trigger: "hover" });
    </script>
    <script>
        $(document).ready(function () {
            $("#profiles").DataTable();
    
        });
    </script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> 
}
